### gradle
**/.gradle
!gradle/wrapper/gradle-wrapper.jar

/**/bin/
/**/build/
/**/builds/
/**/classes/

### intellij
.idea
*.iml
/**/out/

### vim
**/*.swp

## ignore antlr jar whereever it is
**/antlr.jar

### junit error logs and normal logs
**/errors.log
**/*.log
